aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
discord==1.7.3
discord.py==1.7.3
idna==3.3
jaraco.context==4.1.1
joblib==1.1.0
more-itertools==8.12.0
multidict==5.2.0
nltk==3.6.7
pypiwin32==223
pyttsx3==2.90
pywin32==303
regex==2021.11.10
requests==2.27.1
soupsieve==2.3.1
torch==1.10.1
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.8
wikipedia==1.4.0
wolframalpha==5.0.0
xmltodict==0.12.0
yarl==1.7.2